/*-----------------------------------------------------------------
-------------------------SCHERMATA GUIDA---------------------------
---prima tutte le classi e poi tutti gli id in ordine di chiamata--
-----------------------------------------------------------------*/
#storico{
	display:none;
}

#newGuida{
	display:none;
}

#registrazione{
	display:none;
}

.scheda{
	color: #343a40;
	background-color: #f8f9fa;
	box-sizing: border-box;
	border-radius: 4px;
	overflow: auto;
	height: 100%;
}

.headerScheda{
	font-size: 22px;
	background-color: #17a2b8;
	padding: 24px 20px;
	color:#fff;
	text-align: center;
	border-radius: 5px 5px 0 0;
	margin: 0;
}

.bodyScheda{
	padding:20px;
}

.borderBottom{
	margin-bottom:20px;
}

.center{
	text-align:center;
}

.testoBlu{
	color:#17a2b8;
}

.noPadding{
	padding: 0px;
}

.video{
	width: calc(100% - 40px);
	margin: 20px;
	margin-left: 5px;
}

.justify{
	justify-content: space-around;
	display: flex;
}


.mod{
	float: right;
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;
	margin-right: 17px;
	margin-top:3px;
}

.mod:active{
	opacity: .7;
	font-weight: 700;
}

.vis{
	float: right;
	font-size: 17px;
	font-weight: 500;
	margin-right: 17px;
	margin-top:3px;
}

.close{
	cursor: pointer;
	position: relative;
	top: -17px;
	right: -5px;
	font-size: 28px;
}

.btnBlu{
	text-align: center;
	border: 1px solid #17a2b8;
	color: #17a2b8;
	background-color: transparent;
	border-radius: 5px;
	margin:12px 0px;
	padding:6px 12px;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnBlu:active {
	background-color: #17a2b8;
	color: #fff;
}

.recorder{
	height: 65%;
	max-width:60%;
	margin-left:auto;
	margin-right:auto;
}

.divRecorder{
	margin-bottom: 20px;
}

.oneLine{
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#myGuides{
	padding-left: 20px;
}

#Geolo{
	height: 50%;
}

#divGeolo{
	position: relative;
}

#divMyPos{
	position: absolute;
	bottom: 11px;
	right: 15px;
}

#myPos{
	background-color: #17a2b8;
	color: #fff;
	border-radius: 100%;
	padding:10px 10px;
	cursor: pointer;
	font-size: 20px; 
}

#myPos:active {
	border: 1px solid #17a2b8;
	border-radius: 100%;
	color: #17a2b8;
	background-color: white;
}


#divNew{
	position: fixed;
	bottom: 15px; 
	right: 30px; 
}

#new{
	background-color: #17a2b8;
	color: #fff;
	border-radius: 100%;
	padding:10px 10px;
	cursor: pointer;
}

#new:active {
	border: 1px solid #17a2b8;
	border-radius: 100%;
	color: #17a2b8;
	background-color: white;
}

#recorded{
	display:none;
}

#review{
	display:none;
}

#loadingDiv{
	width: 14%;
	position: absolute;
	top: 50%;
	left: 43%;
	z-index:150;
	transform: perspective(1px) translateY(-70px);
}

.load-spinner {
	border: 2px solid #d6d9e8;
	border-top-color: #7164ff;
	height: 27px;
	width: 27px;
	border-radius: 100%;
	top: 0;
	left: 0;
	animation: spin .8s ease-out infinite;
}

.divMod {
	padding-right: 15px;
}

#videoGuida{
	margin: 0 auto 30px auto;
	display:block;
	height: 200px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 768px) {
	.recorder{
		max-width:100%;
	}
	#divNew{
		right: 15px; 
	}
}
/*---create by Matilde Rodolfi---*/